/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/* Remove default fieldset styles. */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/* Allow only vertical resizing of textareas. */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Logotype webfont */

@font-face {
    font-family: 'bonvenocflight';
    src: url('BonvenoCF-Light-webfont.eot');
    src: url('BonvenoCF-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('BonvenoCF-Light-webfont.woff') format('woff'),
         url('BonvenoCF-Light-webfont.ttf') format('truetype'),
         url('BonvenoCF-Light-webfont.svg#bonvenocflight') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* body webfont */

@font-face {
    font-family: 'open_sansregular';
    src: url('OpenSans-Regular-webfont.eot');
    src: url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Regular-webfont.woff') format('woff'),
         url('OpenSans-Regular-webfont.ttf') format('truetype'),
         url('OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'open_sansregular', Verdana, Arial, sans-serif;
  color: rgb(94,22,15);
  //background: rgb(246, 247, 146);
}

/* Logo text styles */

h1 {
    font-family: 'bonvenocflight', Arial, sans-serif;
    color: rgb(224, 51, 42);
    font-size: 2em;
}

.logoUpperCase {
    text-transform: uppercase;
    font-size: 110%;
}

.tagline {
    font-family: 'bonvenocflight', Arial, sans-serif;
    font-size: 1.1em;
    color: rgb(94,22,15);
    margin-top: -1em;
}

.container {
    background: rgb(42, 191, 75); /* temporary - main green color */
    padding: 1% 3%;
    margin: 0, 10%;
}

/* form styles */

ul {
    list-style: none;
}

li input {
    margin: 0 15px 0 0;
}



.deleteListItem {
  margin: 0 0 0 10px;
  position: relative;
  top: 3px;
  border-radius: 3px;
  border: 1px solid gray;
}

.completed {
    text-decoration: line-through;
    color: gray;
}






/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/*
@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */



