/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Logotype webfont */

@font-face {
    font-family: 'bonvenocflight';
    src: url('BonvenoCF-Light-webfont.eot');
    src: url('BonvenoCF-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('BonvenoCF-Light-webfont.woff') format('woff'),
         url('BonvenoCF-Light-webfont.ttf') format('truetype'),
         url('BonvenoCF-Light-webfont.svg#bonvenocflight') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* body webfont */

@font-face {
    font-family: 'open_sansregular';
    src: url('OpenSans-Regular-webfont.eot');
    src: url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Regular-webfont.woff') format('woff'),
         url('OpenSans-Regular-webfont.ttf') format('truetype'),
         url('OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'open_sansregular', Verdana, Arial, sans-serif;
  margin: 1%;
}

/* Logo text styles */

h1 {
    font-family: 'bonvenocflight', Verdana, Arial, sans-serif;
    color: rgb(224, 51, 42);
    font-size: 2em;
    text-align: center;
    background: rgb(224, 51, 42);
    color: #fff;
    border-radius: 10px;
}

.logoUpperCase {
    text-transform: uppercase;
    font-size: 110%;
}

.tagline {
    font-family: 'bonvenocflight', Arial, sans-serif;
    font-size: 1em;
    color: #fff;
    text-align: center;
    background: rgb(94, 22, 15);
    margin-top: -10px;
    margin-bottom: 2px;
    padding: 1%;
}

.container {
    background: rgb(42, 191, 75); /* main green color */
    padding: 3%;
    margin: 0, 10%;
}

/* form input section */

label {
    font-size: .9em;
    color: #fff;
    margin-right: 6px;
}

/* style the input field for task list items */

#the_form input {
    font-size: 1em;
    color: rgb(94, 22, 15);
    border-radius: 6px;
    margin-bottom: 1em;
    padding: 1%;
    width: 88%;
}

#submitButton {
    background: white;
    margin-top: 15px;
    border: 1px solid rgb(94, 22, 15);
    border-radius: 6px;
    font-size: .9em;
    padding: 1%;
}

/* style the task list */

ul {
    list-style: none;
    margin-left: 0;
    padding: 0;
}

/* style the input and delete checkboxes */

li input {
    margin: .5em;
}

li {
    border: 1px solid #fff;
    padding: 6px;
    margin-bottom: .6em;
    background: rgba(131, 232, 104, .6);
    border-radius: 6px;
}

.deleteListItem {
  float: right;
  margin: 0px 10px;
  position: relative;
  top: 6px;
  border-radius: 3px;
  border: 2px dotted #fff;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

